<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="resources/template/mylayout.xhtml">
	<ui:define name="content">

		<h1>Ajax Test</h1>
		<p>
			Now =
			<h:outputText id="now" value="#{ajaxBean.now}" />
		</p>
		<h2>No AJAX</h2>
		<h:form>
			<h:inputText id="text" value="#{ajaxBean.text}" />
			<h:commandButton value="Show" />
			<br />
			<h:outputText id="affichage" value="#{ajaxBean.text}" />
		</h:form>
<h2>AJAX 1</h2>
<h:form>
    <h:inputText id="text" value="#{ajaxBean.text}" />
    <h:commandButton value="Show">
				<f:ajax execute="text" render='affichage now' />
			</h:commandButton>
    <br />
    <h:outputText id="affichage" value="#{ajaxBean.text}" />
</h:form>
	</ui:define>
</ui:composition>
</html>