<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	<ui:composition template="resources/template/mylayout.xhtml">
		<ui:define name="content">
			<f:view>
				<h1>List of courses</h1>
				<h:form>
					<h:dataTable value="#{course.courses}" var="o"
						styleClass="course-table" headerClass="course-table-header"
						footerClass="course-table-header"
						rowClasses="course-table-odd-row,course-table-even-row">

						<h:column>
							<f:facet name="header">Number</f:facet>
							<h:outputText value="#{o.id}" />
						</h:column>
						<h:column>
							<f:facet name="header">Name</f:facet>
							<h:outputText value="#{o.name}" />
						</h:column>
						<h:column>
							<f:facet name="header">Hours</f:facet>
							<h:outputText value="#{o.hours}" />
						</h:column>
						<h:column>
							<f:facet name="header">Action</f:facet>
							<h:commandLink value="Show" action="#{course.show(o.id)}" />
						</h:column>

					</h:dataTable>
					<h:commandLink value="Add" action="#{course.newCourse()}"/>
				</h:form>
			</f:view>
		</ui:define>
	</ui:composition>
</h:body>

</html>